---
import '../styles/style.css';
const { title = 'ABO Study Guide' } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>
  <body>
    <header>

      <h1>ABO Study Guide</h1>

      <nav>
        <a href={`${import.meta.env.BASE_URL}`}>Home</a>
        <a href={`${import.meta.env.BASE_URL}/topics/`}>Topics</a>
        <a href={`${import.meta.env.BASE_URL}/about/`}>About</a>
      </nav>
      
      <!--
            <nav>
              <a href="{`import.meta.env.BASE_URL`}">Home</a>
              <a href="{`import.meta.env.BASE_URL`}topics">Topics</a>
              <a href="{`import.meta.env.BASE_URL`}about">About</a>
            </nav>
      -->
    </header>

    <main>
      <slot />
    </main>

    <footer>Alberto Alvarado</footer>
  </body>
</html>
